@using Indicadores.Models.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" href="images/favicon.ico" type="image/ico" />*@
    <title>Planeación</title>
    <!-- Bootstrap -->
    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/Alela/css/custom.min.css" rel="stylesheet" />
     
    @Scripts.Render("~/bundles/jquery")
        
    @RenderSection("styles", required: false)
    <script>
        function valideKey(evt)
        {
            var code = (evt.which) ? evt.which : evt.keyCode;
            if (code == 8 || code ==37)
            {
                return true;
            }
            else if (code >= 48 && code <= 57)
            {
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>
    <style>
        .card-header {
            border-bottom: 0px;
            background-color: white;
        }
    </style>
    @*<script src="https://www.google.com/recaptcha/api.js?render=6LcPSkofAAAAAOoYAfNccjoGeT3_TLfgcVmWsGPD"></script>
    <script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcPSkofAAAAAOoYAfNccjoGeT3_TLfgcVmWsGPD', { action: 'Captcha' }).then(function (token) {
            $.ajax({
                type: 'POST', 
                    url: '../Home/ValidateCaptcha',
                    dataType: 'json',
                    data: { foo: token  },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (ex) {
                    }
                });
            });
        });
    </script>*@
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                       
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <a href="@Url.Action("Index", "Home")" style="color:black"> <h3>General</h3> </a> 
                            <ul class="nav side-menu">

                                @if (User.Identity.GetIdGrupo() > 0 && User.Identity.GetIdGrupo() < 6)
                                {
                                    <li class="active">
                                        <a><i class="fa fa-home"></i> Inicio Indicadores <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: block;">
                                            <li class="active">
                                                <a>Indicadores<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: block;"> 
                                                    @if (User.Identity.GetIdGrupo() >= 1)
                                                    {
                                                        <li class="sub_menu">
                                                            <a href="@Url.Action("Inicio", "PlanMunicipal")">Plan Municipal de Desarrollo</a>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a href="@Url.Action("ListaPp", "Calendario")">Programas Presupuestarios</a>
                                                    </li>
                                                    <li class="sub_menu">
                                                        <a href="@Url.Action("Lista", "Calendario")">Programas Operativos Anuales</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>  
                                }

                                @if (User.Identity.GetIdGrupo() == 1)
                                {
                                    <li>
                                        <a><i class="fa fa-cog"></i>Administrador <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Solicitudes", "Calendario")">Cambios</a></li>
                                            <li><a href="@Url.Action("Index", "Bitacora")">Bitacora</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-th-list"></i>
                                            Catálogos
                                            <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Inicio", "Secretarias")">Secretarías</a></li>
                                            <li><a href="@Url.Action("Inicio", "Direcciones")">Direcciones</a></li>
                                            <li><a href="@Url.Action("Inicio", "Categoria")">Categorías</a></li>
                                            <li><a href="@Url.Action("Inicio", "DimensionIndicador")">Dimensión de Indicador</a></li>
                                            <li><a href="@Url.Action("Inicio", "EjeEstrategico")">Eje Estratégico</a></li>
                                            <li><a href="@Url.Action("Inicio", "ObjetivoEstrategico")">Objetivo Estrategico</a></li>
                                            <li><a href="@Url.Action("Inicio", "Estatus")">Estatus</a></li>
                                            <li><a href="@Url.Action("Inicio", "FrecuenciaMed")">Frecuencia de medición</a></li>
                                            <li><a href="@Url.Action("Inicio", "MetodoCalculo")">Método de cálculo</a></li>
                                            <li><a href="@Url.Action("Inicio", "NivelObjetivo")">Nivel de objetivo </a></li>
                                            <li><a href="@Url.Action("Inicio", "SentidoIndicador")">Sentido de Indicador</a></li>
                                            <li><a href="@Url.Action("Inicio", "TipoIndicador")">Tipo de Indicador</a></li>

                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-placement="top" style="width:100%;color:white;font-weight:bold;">
                            Versión - @User.Identity.NoVersion()
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" style="background: rgb(236,178,119); background: linear-gradient(90deg, rgba(236,178,119,1) 0%, rgba(201,136,45,1) 35%, rgba(199,129,34,1) 61%, rgba(241,187,143,1) 100%);">
                    <div class="nav toggle">
                        <a id="menu_toggle" style="color:white;"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a style="color:white;" href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                                    @if (User.Identity.GetProveedor() == "Google")
                                    {
                                        <img src="~/Imagen/google40.png" style="color:white;" alt="">@User.Identity.GetFullName()
                                    }
                                    else if (User.Identity.GetProveedor() == "Facebook")
                                    {
                                        <img src="~/Imagen/facebook40.png" style="color:white;" alt="">@User.Identity.GetFullName()
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/user.png" style="color:white;" alt="">@User.Identity.GetFullName()
                                    }
                                </a>
                                @if (User.Identity.GetIdGrupo() >0)
                                {
                                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="right:0px;margin-right:0px;">
                                        <a class="dropdown-item" href="@Url.Content("~/AppUser/Logoff")"><i class="fa fa-sign-out pull-right"></i>Salir</a>
                                    </div>
                                }

                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="background-color:#f1f1f1">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer style="background-color:#F7F7F7">
                <div class="pull-left">
                    Dirección de Planeación, Enlace y Proyectos Estratégicos  -  <a href="https://www.monterrey.gob.mx/secretarias/sepm">Monterrey.gob.mx</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>    <!-- ./wrapper -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Scripts -->
    <script src="~/Vendors/jquery/jquery.min.js"></script>
    <script src="~/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Vendors/nprogress/nprogress.js"></script>
    <script src="~/Vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/Vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Flot -->
    <script src="~/Vendors/Flot/jquery.flot.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Vendors/DateJS/build/date.js"></script>
    <script src="~/Vendors/moment/min/moment.min.js"></script>
    <script src="~/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/Alela/js/custom.js"></script>
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
