@model Indicadores.Models.PostgresSql.Tablas.CalendarioModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CalendarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FichaModel.progmpresup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FichaModel.progmpresup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ojb_EstratModel.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ojb_EstratModel.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.febrero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.febrero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abril)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abril)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mayo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mayo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.junio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.junio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.julio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.julio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agosto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agosto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.septiembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.septiembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.octubre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.octubre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noviembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noviembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diciembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diciembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montosoli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montosoli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecharegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idestaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idestaus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.programapresu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.programapresu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidadmedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidadmedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metainstitucional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metainstitucional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medioverificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medioverificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidadmedidameta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidadmedidameta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idsecretaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idsecretaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iddireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iddireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idarbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idarbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
