@using System.Web.Http
@using Indicadores.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <a href="@Url.Action("Index", "Help")">
                <button type="button" class="btn btn-secondary btn-block mb-4">
                    Regresar
                </button>
            </a>
        </div>
    </section>
    <h1>@Model.Name</h1>
    <p>@Model.Documentation</p>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
    <section class="featured">
        <div class="content-wrapper">
            <a href="@Url.Action("Index", "Help")">
                <button type="button" class="btn btn-secondary btn-block mb-4">
                    Regresar
                </button>
            </a>
        </div>
    </section>
</div>
