@model Indicadores.Models.PostgresSql.Tablas.PermisoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PermisoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrupoModel.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoModel.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecursoModel.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecursoModel.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idpermiso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
