<script src="~/Scripts/Indicadores/Completa.js"></script>
@using Indicadores.Models.Extensions
<style>

    .form-group {
        border-radius: 5px;
    }
</style>

<input type="hidden" id="ok1" value="@ViewBag.ok1" />
<input type="hidden" id="ok2" value="@ViewBag.ok2" />
<div class="container">
    <div class="col-lg-12">
        <div class="card" style="background-color:#F7F7F7">
            <div class="card-header text-center " style="background-color:#e4dcd7;color:#484441;">
                <h1>Ficha</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="  background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Categoría</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            @Html.DropDownList("dropcategoria", ViewBag.idcategoria as SelectList, new { @id = "dropcategoria", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <input type="hidden" id="secre" value="@User.Identity.GetIdSecretaria()" />
                        <label class="label">Secretaría</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="Scretaria2" onchange="GetDire2(0);"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label" id="direccion">Unidad Responsable</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <input type="hidden" id="dire" />
                            <select class="form-control" id="idDireccion"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Eje estratégico</label>
                    </div>
                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <div class="form-group">
                            <input type="hidden" id="ideje" />
                            <select class="form-control" id="Eje" onchange="GetObjetivo(0);"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Objetivo estratégico</label>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <div class="col-md-12 col-sm-12  form-group has-feedback">
                            <select class="form-control" id="idobjetiv"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Programa presupuestario</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="idpp"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Nombre del Indicador</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <input type="text" class="form-control" maxlength="550" id="nombindi" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Definición del indicador</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <input type="text" class="form-control" maxlength="1000" id="descindicador" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Nivel de Objetivo</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="idnivelobj"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">
                            Objetivo / Resumen
                            narrativo
                        </label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <input type="text" class="form-control" maxlength="1000" id="obj_resnarr" />
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Método de cálculo</label>
                    </div>
                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <div class="form-group"> 
                            <select class="form-control"id="idmetcal" onchange="tipocalculo()"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Fórmula</label>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <div class="col-md-12 col-sm-12  form-group has-feedback">
                            <label class="label ml-3 pt-2" style="font-weight:bold;color:black;" id="lbltipocalculo"></label>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Variables</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="col-md-6 col-sm-6  form-group has-feedback"> 
                            <textarea class="form-control" id="variable1" placeholder="Variable 1"  maxlength="550" style="font-size:10px;"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-6  form-group has-feedback"> 
                            <textarea class="form-control" id="variable2" placeholder="Variable 2"  maxlength="550" style="font-size:10px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Tipo de indicador</label>
                    </div>
                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="idtipoind"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Dimensión del indicador</label>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="iddimensind"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <label class="label">Frecuencia de medición</label>
                    </div>
                    <div class="col-md-9 col-sm-9  form-group has-feedback">
                        <div class="form-group">
                            <select class="form-control" id="idfrecuencia"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title="Si se desconoce la cantidad exacta de acciones a realizar durante el año la meta se plasma en porcentaje, de lo contrario se establece la cantidad a realizar. Ejemplo: Dar contestación a las solicitudes de acceso a la información pública. Meta anual: 100%. Realizar el informe trimestral de avance de gestión financiera. Meta anual: 4 informes.">
                            Meta
                            <strong><a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a></strong>
                        </span>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" maxlength="100" onkeypress="return MetaKey(event);" id="metavalor" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center  form-group has-feedback ml-2 pt-3" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                        <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title="Si la meta establecida se plasmó como 100%, la unidad será “Porcentaje”. Si la meta establecida se plasmó como cantidad “4 informes”, la unidad será “Informes”.">
                            Unidad de medida
                            <strong><a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a></strong>
                        </span>
                    </div>
                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" maxlength="100" id="unidadmedidavalor" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center  form-group has-feedback ml-2 pt-2">
                        <div class="row text-center">
                            <input type="checkbox" id="porcentaje" hidden="hidden" />
                            <input type="hidden" class="form-control text-center" maxlength="100" id="unidadmedida" value="Porcentaje" readonly />
                            <input type="hidden" class="form-control text-center" maxlength="100" onkeyup="formatAsPercent(this)" onkeypress="return valideKey(event);" id="metainstitu" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <table class="table text-break text-center table-bordered">
                            <tr style="background-color:#e4dcd7;color:#484441;">
                                <td colspan=" 4">
                                    Calendarización de actividades
                                    <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title='La "meta en cantidad" se prorratea en los siguientes meses de acuerdo a la frecuencia de medición. En el caso que la meta sea porcentual se agrega la meta en porcentaje.'>

                                        <strong><a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a></strong>
                                    </span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Enero</label>
                                        <input type="text" class="form-control meses En" id="Enero" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Febrero</label>
                                        <input type="text" class="form-control meses Fb" id="Febrero" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Marzo</label>
                                        <input type="text" class="form-control meses Mz" id="Marzo" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Abril</label>
                                        <input type="text" class="form-control meses Ab" id="Abril" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Mayo</label>
                                        <input type="text" class="form-control meses My" id="Mayo" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Junio</label>
                                        <input type="text" class="form-control meses Jn" id="Junio" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Julio</label>
                                        <input type="text" class="form-control meses Jl" id="Julio" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Agosto</label>
                                        <input type="text" class="form-control meses Ag" id="Agosto" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Septiembre</label>
                                        <input type="text" class="form-control meses Sp" id="Septiembre" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Octubre</label>
                                        <input type="text" class="form-control meses Oc" id="Octubre" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Noviembre</label>
                                        <input type="text" class="form-control meses Nv" id="Noviembre" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Diciembre</label>
                                        <input type="text" class="form-control meses Dc" id="Diciembre" onkeypress="return valideKey(event);" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Medios de verificación</label>
                            <textarea class="form-control" id="mediosverificacion" maxlength="550" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Monto solicitado</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control meses" maxlength="550" onkeypress="return Monto(event);" id="montosolicitado" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Capítulo de gasto</label>
                            <div class="form-group">
                                <select class="form-control" id="idcap"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="ppactivo" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Supuestos</label>
                            <textarea class="form-control" id="Supuestos" maxlength="550" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Unidad Administrativa ejecutora</label>
                            <select class="form-control" id="UnidadAdmnEje"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center  form-group has-feedback ml-2 pt-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center  form-group has-feedback  pt-1" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                                Línea base
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr class="form-group" style="background-color:#e4dcd7;color:#484441;font-weight:bold;font-size:12px;">
                                        <th>
                                            ¿El indicador es nuevo?
                                        </th>
                                        <th>
                                            <input class="form-group radio" type="radio" name="nuevoindicador" value="si">
                                            <label style="padding:0px 10px 0px 0px">
                                                Si
                                            </label>
                                            <input class="form-group radio" type="radio" name="nuevoindicador" value="no">
                                            <label>
                                                No
                                            </label>
                                        </th>
                                    </tr>
                                    <tr class="form-group" style="background-color:#e4dcd7;color:#484441;font-weight:bold;font-size:12px;">
                                        @*<th scope="col">
                                    Valor porcentual
                                    <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title='Ejemplo: Supongamos que el punto de partida de este indicador fue en el año 2022 con un resultado final de 120 "x", lo cual representó un 90% de avance. Por lo tanto, aqui se agrega el 90%. '>
                                        <strong>
                                            <a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a>
                                        </strong>
                                    </span>
                                </th>*@
                                        <th scope="col">
                                            Valor
                                            <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title='Ejemplo: Supongamos que el punto de partida de este indicador fue en el año 2022 con un resultado final de 120 "x", lo cual representó un 90% de avance. Por lo tanto, aqui se agrega el 120. '>
                                                <strong>
                                                    <a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a>
                                                </strong>
                                            </span>
                                        </th>
                                        <th scope="col">
                                            Año
                                            <span class="label label-default" id="btnefecto" data-toggle="tooltip" data-placement="top" title='Ejemplo: Supongamos que el punto de partida de este indicador fue en el año 2022 con un resultado final de 120 "x", lo cual representó un 90% de avance. Por lo tanto, aqui se agrega el 2022. '>
                                                <strong>
                                                    <a href="#/question-circle"><i class="fa fa-question-circle" style="color:red;"></i></a>
                                                </strong>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @*<th scope="row">

                                </th>*@
                                        <th scope="row">
                                            <input type="text" onkeypress="return valideKey(event);" class="form-control" id="valorcant" style="text-align:center;font-weight:bold;" />
                                        </th>
                                        <th scope="row">
                                            <input type="text" class="form-control" maxlength="4" id="anio" onkeypress="return valideKey(event);" style="text-align:center;" />
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="valor" style="font-size:10px;text-align:center;" />
                    <div class="col-md-3 col-sm-4 text-center  form-group has-feedback ml-2 pt-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center  form-group has-feedback  pt-1" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                                Sentido del indicador
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control" id="idsentido" style="min-width: 100%"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center  form-group has-feedback ml-2 pt-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center  form-group has-feedback  pt-1" style="background-color:#e4dcd7;color:#484441;font-weight:bold;">
                                Semaforización
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" style="background-color:#77dd77;">Óptimo</th>
                                        <th scope="col" style="background-color:#fdfd96;">En progreso</th>
                                        <th scope="col" style="background-color:#ff6961;">En riesgo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <input type="text" class="form-control" id="verde" readonly style="font-size:10px;text-align:center;cursor:no-drop;" value=">=80%" />
                                        </th>
                                        <td>
                                            <input type="text" class="form-control" id="amarillo" readonly style="font-size:10px;text-align:center;cursor:no-drop;" value=">50% & <80%" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="rojo" readonly style="font-size:10px;text-align:center;cursor:no-drop;" value="<=50%" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <a>
                            <button id="btnback" type="button" class="btn btn-secondary btn-block mb-4">
                                Regresar
                            </button>
                        </a>
                        @*<a href="@Url.Action("Lista", "Calendario")">
                    <button type="button" class="btn btn-secondary btn-block mb-4">
                        Regresar
                    </button>
                </a>*@
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">

                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <button type="button" id="btnguardar" onclick="Valida(1);" class="btn btn-primary btn-block mb-4">
                            Guardar
                        </button>
                    </div>
                    @*<div class="col-md-4 col-sm-4 text-center">
                <button type="button" onclick="Valida(1);" class="btn btn-success btn-block mb-4">
                    Enviar
                </button>
            </div>*@
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="text-align:center;">
                <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align:center;">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="list">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100%;">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<style>
    .input-group-addon {
        padding: 9px 12px;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
    }
    .my_second_class {
        width: 1%;
    }

    .bd-example-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

        .bd-example-modal-lg .modal-dialog .modal-content {
            background-color: transparent;
            color: red;
            font-weight: bold;
            border: none;
        }

    .form-control {
        border-radius: 5px;
    }
</style>

<div class="modal fade bd-example-modal-lg" id="spiner" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-5x"></span>
        </div>
    </div>
</div>
<input type="hidden" id="idarbol" value="@ViewBag.idarbol" />
<input type="hidden" id="hiddenidarbol" value="@ViewBag.hiddenidarbol" />
<input type="hidden" id="idcampo" value="@ViewBag.idcampo" />
<input type="hidden" id="orden" value="@ViewBag.orden" />
<input type="hidden" id="idarbolobj"/>
<input type="hidden" id="MedioHiden"/>

@section Scripts
{

    <script>

        function MetaKey(evt) {
            var code = (evt.which) ? evt.which : evt.keyCode;

            if (code == 8 || code == 37 || code == 45) {
                return true;
            }
            else if (code >= 48 && code <= 57) {
                return true;
            }
            else
            {
                return false;
            }
        }

        function Monto(evt)
        { 
            var code = (evt.which) ? evt.which : evt.keyCode;
            if (code == 8 || code == 37)
            {
                return true;
            }
            else if (code >= 48 && code <= 57) {
                return true;
            }
            else {
                return false;
            }
        }

        Catalogos();
        $(document).ready(function ()
        {
            //$("#montosolicitado").click(function ()
            //{
            //    var medio = $("#mediosverificacion").val();
            //    var contenido = $("#idDireccion option:selected").text();
            //    $("#mediosverificacion").val(medio + " - "+contenido);
            //});
            $(".radio").click(function ()
            {
                var dt = new Date();
                if ($('input[name="nuevoindicador"]:checked').val() == "si")
                {
                    $("#valorcant").val("-");
                    $('#valorcant').attr('disabled', 'disabled');
                    $("#anio").val(dt.getFullYear());
                    $('#anio').attr('disabled', 'disabled');
                }
                else if ($('input[name="nuevoindicador"]:checked').val() == "no")
                {
                    $("#valorcant").val(""); 
                    $('#valorcant').removeAttr('disabled');
                    $("#anio").val("");
                    $('#anio').removeAttr('disabled');
                }
                
            });
            

            $("#btnback").click(function ()
            {
                if (dropcategoria == 2) {
                    var idarbol = $("#hiddenidarbol").val();
                    var idcategoria = $("#dropcategoria").val()
                    path = pathserver + "/Arbol/ArbolFicha?idarbol=" + idarbol + "&idcategoria=" + idcategoria + "";

                    window.location = path;
                }
                else {
                    path = pathserver + "/Calendario/Lista";
                    window.location = path;
                }

            });
            var dropcategoria = $("#dropcategoria").val();
            if (dropcategoria == 2)
            { 
                $("#direccion").html("Unidad Administrativa Ejecutora:");
                $("#ppactivo").show();

            }
             
            $("#metainstitu").keyup(function () {
                const number1 = $("#metainstitu").val().replace("%", "");

                const number2 = 100;
                const percentage = (number1 / number2).toLocaleString("en", {
                    style: "percent"
                })
                $("#metainstitu").val(percentage);
            });

            $("#metavalor").keyup(function () {
                var valormeta = $("#metavalor").val();

                var menos = false;

                if (valormeta.includes("-")) {
                    menos = true;
                    valormeta = valormeta.replace("-", "");
                }

                if (valormeta.includes("%")) {
                    $('#porcentaje').prop('checked', true);
                }

                else {
                    $('#porcentaje').prop('checked', false);

                    var textbox = parseFloat(valormeta.replace(/,/g, ""));

                    if (Number.isNaN(textbox) || textbox == "NaN" || textbox == "" || textbox == "null") {
                    }
                    else {
                        if (menos == true) {
                            $("#metavalor").val("-" + textbox.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        }
                        else {
                            $("#metavalor").val(textbox.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        }
                    }
                }
            });

            $(".meses").keyup(function () {
                var valormeta = $("#metavalor").val();

                if (valormeta.includes("%")) {
                    $('#porcentaje').prop('checked', true);
                }

                else {
                    $('#porcentaje').prop('checked', false);
                    var textbox = parseFloat($("#" + this.id).val().replace(/,/g, ""));

                    if (Number.isNaN(textbox) || textbox == "NaN" || textbox == "" || textbox == "null") {
                        textbox = "0";
                        $("#" + this.id).val(textbox);
                    }
                    else {
                        $("#" + this.id).val(textbox.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }
                }
            });
        });
    </script>

}
