@model Indicadores.Models.PostgresSql.Catalogos.BitacoraErrorModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BitacoraErrorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErroMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErroMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdError)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idbit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
