@model Indicadores.Models.ModelViews.LoginModel
@{
    Layout = null;
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html style=" background: linear-gradient(90deg, rgba(236,178,119,1) 0%, rgba(201,136,45,1) 35%, rgba(199,129,34,1) 61%, rgba(241,187,143,1) 100%); ">
<head>
    <title>Gobierno Municipal de Monterrey</title>

    <link href="~/css/style2.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            var bol = $("#valor").val();
            if (bol == "1") {
                alert("Se ha cambiado la contraseña correctamente");
            }

        });
    </script>
</head>
<body style=" font-family:  'Helvetica Neue' sans-serif;">

    <input type="hidden" id="valor" value="@Model.ok" />

    <input type="hidden" id="Error" value="@ViewBag.Error" />

    <input type="hidden" id="Msj" value="@ViewBag.Msj" />

    <section class="background-radial-gradient overflow-hidden">
        <style>
            .background-radial-gradient {
                background: rgb(236,178,119);
                background: linear-gradient(90deg, rgba(236,178,119,1) 0%, rgba(201,136,45,1) 35%, rgba(199,129,34,1) 61%, rgba(241,187,143,1) 100%);
            }



            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter: saturate(200%) blur(25px);
            }
        </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: white">
                        Secretaría  Ejecutiva
                    </h1>
                    <p class="mb-4 opacity-70 fw-bold" style="color: white">
                        Dirección de Planeación, Enlace y Proyectos Estratégicos
                    </p>
                    <p class="mb-4 opacity-70 fw-bold" style="color: white">
                        Indicadores
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            @using (Html.BeginForm("Login", "AppUser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <h1>Entrar al sistema</h1>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example1">Usuario</label>
                                            <input type="text" id="username" name="username" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example1">Contraseña</label>
                                            <input type="password" id="password" name="password" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Entrar
                                </button>
                                <span>@Model.error</span> 
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
    <!-- Section: Design Block -->
</body>
</html>